.categorize-seats {
	.panel-collapse {
		background: #f5f5f5;
    	border-bottom-left-radius: 5px;
    	border-bottom-right-radius: 5px;
	}
}



// .categorize-seat-information-body {

// 	&::before {
//     	@include clearfix;
// 	}


// 	select, .categorize-seats-appended {
// 		display: inline-block;
// 		float: left;
// 	}
// 	select {
// 		width: 45%;
// 	}
// 	.categorize-seats-appended {width: 50%;}
// }