.bus-build-actions {
	margin-right: 15px;
	margin-left: 15px;
}

.bus-display-name {
	position: relative;
	display: block;
	margin: 15px;
	clear: both;
}
.bus-builder-info {
    margin: 15px;
}
.emphasis {
    color: #5cb85c;
    font-weight: 600;
}
.helper-info {
    color: #d9534f;
    font-weight: 600;
}